html{
  background: url("../assets/images/universe.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  background-color: #192531;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.intro{
  max-width: 45%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  margin-top: 100px;
}

.results{
  display: none;
  max-width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  margin-top: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.planets{
  width: 75%;
  height: auto;
}

.btn{
  margin-top:20px;
}

.form-group{
  margin-top: 15px;;
}

.formLabel{
  font-size: 125%;
}

.dropDown{
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
}

#age{
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
}